
body,html{
    background-color: #3f3f3f !important;
  }
.titulo{
    text-align: center;
    color: aliceblue;
}
.btn.btnBuscar{
    background: #ebe2e2;
}
.btn.btnBuscar:hover{
    background: #b4b4b4;
}
.btn.btnCard{
    color: rgb(255, 255, 255);
    background: #32455D;
}
.btn.btnCard:hover{
    color: rgb(255, 255, 255);
    background: #354252;
}
li{
    color: aliceblue;
}
.logoFcyt{
    width: 60px;
    height: 60px;
}

.title{
    font-size: 60px;
    display: grid;
    justify-content: center;
    color:rgb(255, 255, 255);
}

.texto{
    text-align: justify;
    font-size: 20px;
}
.navbar{
    background: #181925;
}
.nav-item:hover{
    background: #3f3f3f;
}
.noticias{
    padding-top: 5%;
    background-color: #1e242c;
}
.noticias .texto{
    color: white;
}
.row.noticias{
    /* background: #2B5481; */
    justify-content: space-around;
    padding: 5%;
}
.card{
    margin: 2%;
}
.card img{
    height: 250px;
    
}
button img{
    width: 18px;
    height: 18px;
}
.anuncios{
    text-align: center;
    background-color: #3f3f3f;
}

